{% load i18n %}
<!-- home/templates/home/home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% trans "Home Page" %}</title>
</head>
<body>
    <h1>{% trans "Welcome" %}</h1>
    <p>{{ welcome_message }}</p>
    <p>{% trans "Thank you for visiting our site!" %}</p>
    <p>{{ description }}</p>
    <ul>
        <li><a href="{% url 'change_language' 'en' %}">English</a></li>
        <li><a href="{% url 'change_language' 'es' %}">Spanish</a></li>
        <li><a href="{% url 'change_language' 'ta' %}">Tamil</a></li>
    </ul>
</body>
</html>
