{% extends 'base.html' %}

{% block title %}Home - Marks Management System{% endblock %}

{% block header %}Welcome to the Marks Management System{% endblock %}

{% block content %}
<div class="form-container mb-4">
    {% if user.is_superuser %}
        <form method="post" class="d-flex align-items-center" action="{% url 'academicyear' %}">
            {% csrf_token %}
            <div class="mb-0 me-2">
                {{ form.year.label }} {{ form.year }}
                {% if form.year.errors %}
                    <div class="text-danger">{{ form.year.errors }}</div>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>

        <form method="POST" action="{% url 'home' %}" class="d-flex align-items-center ms-3">
            {% csrf_token %}
            <label for="academic_year" class="me-2">Select Academic Year:</label>
            <select name="academic_year" id="academic_year" class="form-select" onchange="this.form.submit();">
                {% for year in academic_years %}
                    <option value="{{ year.year }}" {% if year.year == current_year %} selected {% endif %}>{{ year.year }}</option>
                {% endfor %}
            </select>
        </form>
    {% endif %}
</div>

<h2 class="mt-4">Students for {{ current_year }}</h2>
{% endblock %}
