<!-- templates/login.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    {% if already_logged_in %}
        <h2>{{ user.username }} is already logged in. Please <a href="{% url 'logout' %}">logout</a> and then login again.</h2>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="hidden" name="next" value="{{ next }}">   
            <button type="submit">Login</button><br>

            <p><a href="/">Home</a></p>
            <p>If you are a new user, please <a href="{% url 'register' %}">register</a>.</p>
        </form>
    {% endif %}
</body>
</html>
